@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Home Styles */

.homeBody {
  background-image: url(/src/images/karenbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.karenName {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 180px;
  line-height: 211px;
  text-align: center;
  color: #000000;
}

/* About Styles */

/* Resume Styles */

/* Gallery Styles */

/* Media Styles */

/* Contact Styles */

/* News Styles */